.footer{
    height: 280px;
    position:relative;
}

.main-footer {
    padding-top: 23px;
    position: absolute;
    background-color:#f9d2d7;
    width: 100%; /* Make it span the full width of the viewport */
    height: 100%;
    display: flex;
}

.footer-section {
    position: relative;
    flex: 1; /* Make each section take up equal space */
    text-align: left;
}


.first-section {
    left: 37%;
}
.second-section{
    margin-top: 25px;
    left: 5%;
}

.hours {
    margin-bottom: 35px; /* Adjust the value as needed */
}

.socials{
    position: relative;
    bottom: 7px;
}
.social-icons {
    position:relative;
    bottom: 3px;
}

.phone {
    position:relative;
    bottom: 3px;
}
.phone-num{
    text-decoration: none;
}
.location-link{
    text-decoration: none;
}
.email-link{
    text-decoration: none;
}
/* Text / Fonts */
.stay-in-touch{
   position: relative;
    bottom: -4px;
}
.hours span {
    display: block;
    margin-bottom: -12px; /* Adjust the value as needed */
}
.main-footer{
    line-height: 0;
    white-space: nowrap;
}

.footer span {
    font-family: 'Roboto';
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 36.33px;
}
.footer-item {
    margin-bottom: -10px; /* Adjust the value as needed */
}
.footer-section h2 {
    margin-bottom: 12px; /* Adjust the value as needed */
}
/* Mini Footer */
.mini-footer {
    position:absolute;
    background-color: black; /* Set the background color to green */
    padding: 20px; /* Add some padding */
    bottom: -24px; /* Align it to the bottom */
    height: 2px;
    width: 100%; /* Make it span the full width of the viewport */
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center the text */
    z-index: 10;
}

.mini-footer p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    line-height: 29.06px;
}

/* Images */

.logo{
    width: 220px;
    height: 50px;
    margin-bottom: 30px;
}

.footer-item img {
    margin-right: 8px; /* Add some space between the icon and the text */
}

.location-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    right: 2px;
}

.email-icon {
    width: 20px;
    height: 15px;
    position: relative;
    top: 2px;
}

.phone-icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 2px;
}
.social-link {
    position: relative;
    top: 0px;
}
.instagram-icon {
    width: 22px;
    height: 22px;
    filter: brightness(0)
}

.yelp-icon {
    position:relative;
    bottom: 1.5px;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    filter: brightness(0);
}

.whatsapp-icon {
    position:relative;
    bottom: 1px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.footer-item.location span {
    position: relative;
    right: 4px;
}

.footer-item.phone span {
    position: relative;
    left: 3px;
    top: 4px;
}
@media (max-width: 2030px) {
    .first-section {
        left: 29%;
    }
}
@media (max-width: 1400px) {
    .first-section {
        left: 23%;
    }
}

@media (max-width: 1140px) {
    .first-section {
        left: 18%;
    }
}

@media (max-width: 950px) {
    .first-section {
        left: 12%;
    }
}

@media (max-width: 810px) {
    .first-section {
        left: 8%;
    }
}
@media (max-width: 768px) {
    .logo{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .main-footer {
            display: block;
    }
    .footer{
       height: 515px;
    }
    .footer-section {
        text-align: center;
    }
    .first-section {
        left: auto;
        margin-bottom: 55px;
    }
    .hours {
        margin-bottom: 55px; /* Adjust the value as needed */
    }
    .second-section{
        left: auto;
    }
    .footer-item {
        margin-bottom: -10px; /* Adjust the value as needed */
    }
}