.home {
    text-align: center;
}

.hidden {
    display: none;
}

.hero{
    color: white; /* Adjust text color for better readability */''
    position: relative;
    height: 730px;
}
.hero-image{
    position: relative;
    object-fit: cover;
    top: -70px;
    left: 0;
    height: 800px;
    width: 100%;
    z-index:-1;
}

.hero-content {
    position: relative;
    top: -870px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    padding-top: 200px;
    z-index: 0; /* Ensure text is above the image */
}
