.full-width-container {
    display: flex;
    z-index: 9;
    position: sticky;
    justify-content: center;
    top: 0px;
    width: 100%;
}
.navbar{
    position: relative;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom:-1px;
}

.full-width-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* For Safari */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    background-color: rgba(255, 255, 255, 0.5); *//* Semi-transparent background *//*
    backdrop-filter: blur(5px); *//* Apply blur effect *//*
    -webkit-backdrop-filter: blur(5px); *//* For Safari */
}

.separator {
    width: 100%;
    height: 1px;
    border-top: 1.25px solid black;
    opacity: 1;
    bottom: -2px;
    position: absolute;
}

.navbar-logo {
    width: 250px;
    height:60px;
    margin-bottom: 5px;
    margin-right: 200px;
}
.hamburger {
    display: none; /* Hide by default */
}

.menu-items{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0px;
    gap: 20vh;
}

.menu-items a:hover {
    color: #8c6c24; /* Change text color on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.menu-items a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 29.06px;
    color: black;
    text-decoration: none;
}

.book-now-button-navbar {
    width: 130px !important;
    height: 40px !important;
}

.dropdown-content .exitting-row {
   height: 35px; /* Adjust the height as needed */
}

.exit-img{
    height: 20px;
    width: 20px;
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    position: relative;
    margin-left: 85%;
    margin-right: 15%;
}

.dropdown-content {
    position: absolute; /* Position the dropdown content absolutely */
    top: 20px; /* Position it below the hamburger icon */
    right: 0; /* Align it to the right */
    background-color: #fbe1e5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    border-radius: 20px;
}

.dropdown-content span {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.06px;
  color:  #7D736F;
  text-decoration: none;
}

.dropdown-item-wrapper {
  height: 45px;
  position: relative; /* Ensure the highlight is relative to each item */
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}


.dropdown-item-wrapper:hover .dropdown-item {
    color: white; /* Text color on hover */
}

@media (max-width: 2000px) {
    .menu-items{
        gap: 11vh;
    }
    .menu-item {
        font-size: 18px !important;
    }
}

@media (max-width: 1400px) {
    .navbar-logo {
        width: 200px; /* Smaller logo */
        height: 50px; /* Adjust height accordingly */
        margin-bottom: 5px;
    }

    .menu-items{
        gap: 7vh;
    }
    .menu-item {
        font-size: 16px !important;
    }
}
@media (max-width: 1160px) {
    .menu-items{
        gap: 5vh;
    }
}

@media (max-width: 980px) {
    .navbar-logo {
        width: 160px; /* Smaller logo */
        height: 40px; /* Adjust height accordingly */
        margin-bottom: 5px;
    }
    .menu-items{
        gap: 2vh;
    }
    .book-now-button-navbar {
        font-size: 20px !important;
        width: 110px !important;
        height: 30px !important;
    }
}
@media (max-width: 768px) { /* Starts being considered mobile */
    .navbar{
        height: 70px;
    }
    .navbar-logo {
        width: 200px; /* Smaller logo */
        height: 50px; /* Adjust height accordingly */
        margin-bottom: 5px;
    }

    .separator {
        z-index: 3;
        bottom: 0px;
    }
    .menu-items {
        display: none;
    }
    .hamburger {
        position: absolute;
        right: 0px; /* Align it to the right */
        bottom:37%;
        display: block; /* Show the hamburger icon */
        margin-right: 1%;
        width: 24px;
    }
}

@media (max-width: 400px) {
    .navbar-logo {
        width: 180px; /* Smaller logo */
        height: 45px; /* Adjust height accordingly */
        margin-bottom: 2px;
    }

    .hamburger {
        position: absolute;
        right: 0px; /* Align it to the right */
        bottom:37%; /* Align it to the top */
        display: block; /* Show the hamburger icon */
        margin-right: 1%;
        width: 24px;
    }

    .content {
        justify-content: space-between; /* Ensure items are spaced out */
    }

    .navbar{
        width: 80%;
        margin: 0 auto;
        margin-bottom:-1px;
    }
}

@media (max-width: 275px) {
    .navbar-logo {
        width: 110px; /* Smaller logo */
        height: 27px; /* Adjust height accordingly */
        margin-bottom: 5px;
    }

    .hamburger {
        width: 15px; /* Smaller hamburger icon */
    }

    .content {
        justify-content: space-between; /* Ensure items are spaced out */
    }

    .navbar{
        width: 80%;
        margin: 0 auto;
        margin-bottom:-1px;
    }
}






