*{
    margin: 0;
    padding: 0;
}
.full-dropdown {
    border-radius: 8px;
    gap: 12px; /* Space between cards */
    right: 150%;
    position: absolute;
    overflow: hidden; /* Hide overflow */
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Animation for sliding down */
}

.full-dropdown.open {
    display: flex; /* Show the menu */
    flex-wrap: wrap; /* Allow wrapping to the next line */
    right: 0%;
    position: relative;
    opacity: 1; /* Show the menu */
    visibility: visible; /* Show the menu */
}

.dropdown{
    margin: 0 auto;
}
.dropdown-image {
    width: 100%; /* Ensure the container takes the full width */
    height: 250px; /* Adjust height as needed */
    position: relative; /* Ensure positioning context for the image */
}

.img-src{
    width: 100%; /* Make the image take the full width of the container */
    height: 100%; /* Make the image take the full height of the container */
    object-fit: cover; /* Ensure the image covers the container */
    position: absolute; /* Position the image absolutely within the container */
    top: 0;
    left: 0;
    border-radius: 8px; /* Add this line to round the corners */
}
.initial-dropdown{
    display: flex;
    background-color: #f9d2d7;
    align-items: center;
    border-radius: 8px; /* Add this line to round the corners */
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 12px;
}

.book-now-button-card{
    height: 35px;
    width: 100px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 18px;
    font-weight: 400px;
}
.dropdown-menu{
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    gap: 12px; /* Space between cards */
}
.card-title{
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: 20px !important;
    font-weight: 500;
}
.card-price{
    font-family: 'Cinzel', serif;
    margin-bottom:6px;
    font-size: 16px !important;
    font-weight: 400;
}
.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
}
/* Dropdown card codes */
.card {
    background: #f9d2d7;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.33% - 8px); /* 50% of the parent container minus the gap */
    box-sizing: border-box;
    position: relative;
    padding-bottom: 50px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.card-description {
    flex-grow: 1;
    margin-bottom: 8px;
}
/* Dropdown-icon code*/
.dropdown-icon{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.dropdown-icon span{
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 1px;
    border-radius: 40px;
    background: black;
    transition:0.5s;

}

.dropdown-icon span:nth-child(1){
    transform: translate(0px, -4px) rotate(45deg);
}

.initial-dropdown.clicked .dropdown-icon span:nth-child(1){
    transform: translate(-4px, 0px) rotate(45deg);
}

.dropdown-icon span:nth-child(2){
    transform: translate(0px, 4px) rotate(-45deg);
}

.initial-dropdown.clicked .dropdown-icon span:nth-child(2){
    transform: translate(4px, 0px) rotate(-45deg);
}
@media (max-width: 1250px) {
    .dropdown-menu .card {
        width: calc(50% - 6px); /* 2 cards per row */
    }
}

@media (max-width: 768px) {
    .dropdown-menu .card {
        width: 100%; /* 1 card per row */
    }
}