*{
    padding: 0;
    margin: 0;
}

.whole{
    background-color: #ebe2db;
}
.gallery-container{
    max-width: 75%;
    margin: auto;
}

.title{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 22px;
    text-align: left;
}

.photo-gallery{
    display: flex;
    gap: 20px;
    margin-bottom:50px;
}

.column{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    position: relative;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    z-index: 10;
    left: 0;
}

.next {
    right: 0;
}

@media (max-width: 768px){
    .photo-gallery{
        flex-direction: column;
    }
    .gallery-container{
        max-width: 90%;
    }
}