.container2{
    width: 75%;
    margin: 0 auto;
}
.full-page{
    background-color: #FBF4E8;
}
.services {
    text-align: center;
}

.cancellation-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 12px;
    border-radius: 8px;
}

.cancellation-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    object-position:  center 70%;
}

.cancellation-text {
    padding-top: 12px;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50%;
    color: white;
}

.cancellation-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.cancellation-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.cancellation-big-description {
    font-size: 18px;
}

.cancellation-text h2{
    font-family: 'Cinzel', serif !important;
}
.cancellation-text p{
    font-size: 16px;
    font-family: 'Roboto', serif !important;
    font-weight: 300;
    line-height: 1.8; /* Adjust this value as needed */
}
.services  {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
    font-size:22px;
}
.filler-space{
    height: 23vh;
}

@media (max-height: 1050px) {
    .filler-space{
        height: 0px;
    }
}
@media (max-width: 768px) {
    .container2 {
        width: 90%;
    }
}

@media (max-width: 652px) {
    .cancellation-container{
        padding-top: 8px;
    }
    .cancellation-text p{
        width: 135%;
        font-size: 14px;
        line-height: 1.6; /* Adjust this value as needed */
    }
}